h1{
    color: sandybrown
}

body{
    background-color: saddlebrown;
}

.about{
    
    text-align: right;
}

.aboutMe{
    text-align: center;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
}

